footer
  .container
    .row
      .col-md-4
        .footer-icons
          i.fa.fa-facebook(data-toggle="tooltip" data-placement="bottom"
          data-title="Facebook")
          i.fa.fa-linkedin(data-toggle="tooltip" data-placement="bottom"
          data-title="LinkedIn")
          i.fa.fa-google-plus(data-toggle="tooltip" data-placement="bottom"
          data-title="Google Plus")
          i.fa.fa-twitter(data-toggle="tooltip" data-placement="bottom"
          data-title="Twitter")
          i.fa.fa-instagram(data-toggle="tooltip" data-placement="bottom"
          data-title="Instagram")
      .col-md-4.text-center
        img(src="assets/logo-purple.png" class="img-responsive")
      .col-md-4
        .scroll-top-footer TOP
    .row.copyrights
      .col-md-12.text-center
        p Copyright &copy; Sky9 Creative. All rights reserved.
